GDAL==3.5.0
protobuf==3.19.4
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
QScintilla==2.13.3
six==1.16.0
tabulate==0.8.9
